name: Terraform Init Validate

on:
  workflow_call:
    inputs:
      working_directory:
        required: true
        type: string
    secrets:
      ARM_CLIENT_ID:
        required: true
      ARM_TENANT_ID:
        required: true
      ARM_SUBSCRIPTION_ID:
        required: true
      DEVOPS_UTILS_REPO_TOKEN:
        required: true
      SLACK_WEBHOOK_URL:
        required: false

env:
  TERRAFORM_VERSION: 1.8.0

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Terraform Init
        working-directory: ${{ inputs.working_directory }}
        run: terraform init -backend-config="backend-config-infra01.hcl"
        env:
          ARM_USE_OIDC: true
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Terraform Validate
        working-directory: ${{ inputs.working_directory }}
        run: terraform validate

      - uses: terraform-linters/setup-tflint@v4

      - name: TFLint (SARIF)
        working-directory: ${{ inputs.working_directory }}
        run: |
          tflint --init
          tflint --format sarif > tflint.sarif || true

      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ inputs.working_directory }}/tflint.sarif
