name: Terraform Init Fmt Plan

on:
  workflow_call:
    inputs:
      working_directory:
        required: true
        type: string
    secrets:
      ARM_CLIENT_ID:
        required: true
      ARM_TENANT_ID:
        required: true
      ARM_SUBSCRIPTION_ID:
        required: true

env:
  TERRAFORM_VERSION: 1.8.0

jobs:
  plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Terraform Init
        working-directory: ${{ inputs.working_directory }}
        run: terraform init -backend-config="backend-config-infra01.hcl"
        env:
          ARM_USE_OIDC: true

      - name: Terraform Fmt
        working-directory: ${{ inputs.working_directory }}
        run: terraform fmt -check -diff
        continue-on-error: true

      - name: Terraform Plan
        working-directory: ${{ inputs.working_directory }}
        run: terraform plan -out=tfplan
        env:
          ARM_USE_OIDC: true

      - uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ${{ inputs.working_directory }}/tfplan
